{% extends "base.html" %}

{% block content %}
<ul>
    {% for fruit in fruits %}
        {% if fruit == "strawberry" %}
        <li style="color:red;">{{fruit}}</li>
        {% else %}
        <li>{{fruit}}</li>
        {% endif %}
    {% endfor %}
</ul>
{% endblock %}
