{% extends "base.html" %}

{% block content %}
<ul>
    {% for vegetable in vegetables %}
        {% if vegetable == "beetroot" %}
        <li>{{vegetable|upper}}</li>
        {% else %}
        <li>{{vegetable}}</li>
        {% endif %}
    {% endfor %}
</ul>
{% endblock %}